# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
Bataille_Navale.iml
src/Vue/TorpilleurHorizontal.png
gen
test
